node_modules
.env
.env.*
.DS_Store
coverage
.dist
.next
out
build
.tmp
.cache
npm-debug.log*
yarn-error.log*
.vscode
.idea

# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/
xcuserdata/
*.xcuserstate
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
Packages/
Package.resolved
